@use '../base/breakpoints';
@use '../base/mixins';

.banners {
  @include mixins.center-content;
  padding-top: 3rem;
  padding-bottom: 3rem;

  @include breakpoints.mobile {
    flex-direction: column;
    align-items: center;
  }
}
